# Entornos virtuales
venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de datos (opcional: si quieres que tu JSON local no se suba)
# courses.json

# Configuraciones de VS Code
.vscode/

# Variables de entorno
.env
